body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-menu {
    display: flex;
}

.solutions {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.info-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
    width: 264px;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: start;
}

.adr-link {
    display: flex;
    align-items: center;
}

.logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
}

.logo-part {
    color: #2E2F42;
}

.header-link {
    color: #2e2f42;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    display: block;
    padding: 24px 0;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
    color: #404BBF;
}

.header-list {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.address {
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
}

.adr-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-weight: 400;
}

.adr-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.adr-link:hover,
.adr-link:focus {
    color: #404BBF;
}

.solutions {
    background: #2E2F42;
    width: 100%;
    height: 600px;
    padding: 188px 0;
}

.solutions-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    font-weight: 700;
    box-sizing: content-box;
    margin: 0 auto 48px;
    max-width: 496px;
}

.solutions-btn {
    font-family: 'Roboto', sans-serif;
    background: #4D5AE5;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    letter-spacing: 0.64px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
}

.solutions-btn:hover,
.solutions-btn:active,
.solutions-btn:focus {
    background: #404BBF;

}

img {
    display: block;
}

.info {
    background: #FFF;
    padding: 120px 0;

}

.info-list {
    display: flex;
    gap: 24px;
}

.info-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.info-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 0;
}

.info-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    text-align: start;
    margin: 0;
}

.port-box {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}


.ourteam {
    background: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-top: 0;
}

.team-list {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style-type: none;
    display: flex;
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
}

.team-item {
    background: #FFF;
    list-style-type: none;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-item-mark {
    padding: 32px 0;
}

.team-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 0;
}

.team-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-family: Roboto;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    margin-bottom: 72px;
}

.portfolio-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-align: start;
    margin-bottom: 8px;
    margin-top: 0;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
}

.portfolio-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}


.footer {
    background: #2E2F42;
    padding: 100px 0;
}

.logo-footer {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-part-footer {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin: 0;
}